@import "./App.scss";

nav {
  height: 200px;
  width: 100%;
  padding: 0 2vw;
  @include flex($justify: space-between, $align: start);
  position: fixed;
  width: 100vw;
  z-index: 1000;

  .logo-cont {
    height: 100%;
    aspect-ratio: 1;
    .logo-link {
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        transition: all 0.5s;
        filter: grayscale(1);
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }

  .nav-links {
    @include flex($justify: end);
    gap: 8vw;
    padding: 30px 0;

    .nav-link {
      all: unset;
      color: white;
      font-size: 20px;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all 0.5s;

      &.active {
        color: red;
      }

      &:hover {
        color: orange;
      }
    }
  }
}
